.projects {
  padding: 100px 24px;
}

.projects-layout {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 40px;
  align-items: center;
}

/* =========================
   CAROUSEL
========================= */

.projects-carousel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

/* Zone qui défile */

.projects-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 10px 5px 20px;
  flex: 1;
  scroll-snap-type: x mandatory;
}

.projects-scroll::-webkit-scrollbar {
  display: none;
}

/* =========================
   FLÈCHES
========================= */

.carousel-arrow {
  flex-shrink: 0;

  width: 42px;
  height: 42px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.08);
  color: var(--text);

  font-size: 1.3rem;

  cursor: pointer;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  transition: 0.3s ease;
}

.carousel-arrow:hover {
  background: var(--accent);
  color: var(--bg);
  transform: scale(1.08);
}

/* =========================
   POINTS
========================= */

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.carousel-dot {
  width: 8px;
  height: 8px;

  padding: 0;

  border: none;
  border-radius: 50%;

  background: var(--text);
  opacity: 0.3;

  cursor: pointer;

  transition: 0.3s ease;
}

.carousel-dot.active {
  width: 22px;
  border-radius: 10px;
  background: var(--accent);
  opacity: 1;
}

/* =========================
   APERÇU À DROITE
========================= */

.projects-image-placeholder-fixed {
  width: 100%;
  max-width: 480px;
  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.projects-right{
  display: none;
}

.projects-image-placeholder-fixed img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transition: transform 0.4s ease;
}

.projects-image-placeholder-fixed img:hover {
  transform: scale(1.03);
}

/* =========================
   TABLETTE
========================= */

@media (max-width: 900px) {

  .projects-layout {
    grid-template-columns: 1fr;
  }

  .projects-right {
    order: -1;
  }
  .projects-right-fixed{
    display: none;
  }

  .projects-image-placeholder {
    height: 350px;
  }
  
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

  .projects {
    padding: 70px 20px;
  }

  .projects-carousel {
    gap: 6px;
  }

  .carousel-arrow {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }

  .projects-scroll {
    gap: 12px;
  }

  .projects-image-placeholder {
    height: 250px;
  }
  .projects-right-fixed{
    display: none;
  }
}