.skills {
  padding-top: 1px;
  padding-bottom: 0;
}

.section-label {
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-weight: 600;
  opacity: 0.6;
  margin-bottom: 10px;
}

/* =========================
   STRUCTURE 2 COLONNES
   ========================= */

.skills-layout {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  align-items: center;
  gap: 80px;
  display: flex;
}

/* =========================
   PHOTO
   ========================= */

.profile-photo {
  display: flex;
  justify-content: center;
}

.profile-photo img {
  width: 440px;
  height: 350px;

}

/* =========================
   CONTENU
   ========================= */

.skills-content h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.skills-description {
  max-width: 500px;
  line-height: 1.6;
  opacity: 0.65;
  margin-bottom: 30px;
}

/* =========================
   PETITS BLOCS
   ========================= */

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 9px;

  padding: 10px 14px;

  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.16);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.35);

  border-radius: 12px;

  box-shadow:
    0 5px 20px rgba(0, 0, 0, 0.06),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);

  transition: all 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-3px);

  background: rgba(255, 255, 255, 0.28);

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.1);
}

/* LOGO */

.skill-icon {
  width: 25px;
  height: 25px;

  object-fit: contain;
}

.skill-card span {
  font-size: 0.85rem;
  font-weight: 500;
}

/* =========================
   MOBILE
   ========================= */

@media (max-width: 768px) {

  .skills {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .skills-layout {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .profile-photo img {
    width: 260px;
    height: 320px;
    display: none;
  }

  .skills-content h2 {
    font-size: 1.7rem;
  }

  .skills-list {
    gap: 10px;
  }

}